*.class
*.iml
*.jar
*.war
*.ear
*.tmp
*.bak
*.swp
*~.nib

tmp/**
tmp/**/*
out/*
bin/**

src/META-INF
src/META-INF/*

.idea/*
.project
.metadata
.classpath
.settings/
.loadpath
.DS_Store
local.properties
/bin

t_*
